@import "_variables", "_font", "_mixin", "_animation", "_reset";

body {
  background-color: #161930;
}

p {
  line-height: 1.5;
}

/* ---------------- GENERAL ---------------- */

*::selection {
  background-color: var(--c-accent);
  color: white;
}

.button {
  position: relative;
  display: inline-block;
  font-size: var(--fs-200);
  font-weight: 700;
  text-transform: uppercase;
  padding: 1em 2em;
  color: white;
  background-color: var(--c-accent);
  border: 0.25em solid var(--c-accent);
  border-radius: 0.35em;
  box-shadow: 0px 0px 25px -5px var(--c-accent),
    inset 0px 0px 17.5px -5px var(--c-accent);
  cursor: pointer;

  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #ff008400;
  }
}

.title {
  color: white;
  font-size: var(--fs-600);
  font-weight: 700;
  padding-bottom: var(--spacer-xs);

  &--m {
    font-size: var(--fs-800);
    padding-top: var(--spacer-xxl);
  }

  @include media(t) {
    &--m {
      font-size: var(--fs-700);
      padding-top: var(--spacer-xl);
    }
  }
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}

section {
  text-align: center;
}

.clouds {
  @include position(absolute, bottom, 0, left, 0);
  width: 100%;
  min-height: 45%;
  background: url(../assets/bg-clouds.png) repeat-x;
  animation: 70s linear 0s infinite normal none running clouds-bkg;
  z-index: -1;

  @include media(m) {
    display: none;
  }
}

/* ---------------- HEADER ---------------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #161930;
  z-index: 2;

  &__logo {
    @include position(absolute, top, 4.5rem, left, calc(50% - 55px));
    transform: scale(1.35);

    transition: all 0.2s ease-in-out;
  }

  &__svg {
    max-width: 110px;
  }

  &.active {
    .header__logo {
      top: 1.3rem;
      transform: scale(1);
    }

    .nav {
      border-bottom: 1.5px solid var(--c-main-dark);
    }
  }

  @include media(t) {
    &__logo {
      top: 1.3rem;
      transform: scale(1);
    }
  }
}

.nav {
  @include d-flex(row, nowrap, space-between, center);
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: var(--spacer-xs) var(--spacer-s);
  color: var(--white);
  border-bottom: 1.5px solid #161930;
  transition: all 0.2s ease-in-out;

  &__ul {
    @include d-flex(row, nowrap, flex-start, center);
  }

  &__burger {
    display: none;
    color: var(--white);
  }

  &__li {
    transition: all 0.5s ease-in-out;

    &--login {
      margin-left: auto;
      transform: translateX(500%);
      transition: all 0.5s ease-in-out 0.3s;

      &.active {
        transform: translateX(0);
        transition: all 0.5s ease-in-out 0s;
      }
    }

    &--button {
      transform: translateY(-200%);
      transition: all 0.5s ease-in-out 0s;

      &.active {
        transform: translateY(0);
        transition: all 0.5s ease-in-out 0.3s;
      }
    }
  }

  &__button {
    padding: 0.5em 1.5em;
  }

  &__li + &__li:not(.nav__li--login) {
    margin-left: var(--spacer-s);
  }

  .mobile {
    display: none;
  }

  &__a {
    position: relative;
    font-size: var(--fs-300);
  }

  &__a::before {
    content: "";
    @include position(absolute, bottom, -0.5em, left, 0);
    width: 100%;
    height: 0.15em;
    background-color: var(--c-accent);

    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  &__li:hover {
    color: var(--c-accent);
  }

  &__li:hover &__a::before {
    transform: scaleX(1);
    transform-origin: left;
  }

  &__close {
    @include position(fixed, top, 1rem, right, 52%);
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    display: none;
    transform: translateX(-50vw);

    transition: all 0.5s ease-in-out;

    &-s {
      position: relative;
      display: block;
      width: 1.2rem;
      height: 0.1rem;
      transform-origin: center;
      transform: rotate(0deg);
      background-color: var(--white);

      transition: all 0.3s ease-in-out 0.5s;

      &::before {
        content: "";
        @include position(absolute, top, 0, right, 0);
        transform-origin: center;
        transform: rotate(0deg);
        width: 1.2rem;
        height: 0.1rem;
        background-color: var(--white);
        z-index: 1;

        transition: all 0.3s ease-in-out 0.5s;
      }
    }
  }

  @include media(t) {
    &__burger {
      display: inline-block;
    }

    &__close {
      display: block;
    }

    &__ul--start {
      @include position(fixed, top, 0, left, 0);
      width: 50%;
      height: 100%;
      padding: var(--spacer-s);
      flex-direction: column;
      align-items: flex-start;
      background-color: var(--c-main-darker);

      transform: translateX(-100%);
      transition: all 0.5s ease-in-out;

      .nav__li + .nav__li {
        margin: var(--spacer-xs) 0 0;
      }

      .nav__li {
        opacity: 0;
        transform: translateX(-1.5rem);
      }
    }

    .mobile {
      display: block;
    }

    &__icons {
      @include position(absolute, bottom, 1rem, left, 0);
      width: 100%;
    }

    &__social {
      @include d-flex(row, nowrap, space-evenly, center);
      width: 100%;
    }

    &__rrss {
      padding: 0.75rem;
      border-radius: 50%;
      background-color: var(--c-main-dark);
    }

    &__svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    &__li {
      &--login {
        transform: translateX(290%);
      }
    }

    .remove {
      display: none;
    }

    &.active &__ul--start {
      transform: translateX(0%);

      @for $i from 1 to 7 {
        .nav__li:nth-child(#{$i}) {
          opacity: 1;
          transform: translateX(0);

          transition: all 0.3s ease-in-out #{"0." + ($i) + "s"};
        }
      }
    }

    &.active &__close {
      opacity: 1;
      transform: translateX(0);
      pointer-events: auto;

      transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out 0.3s;

      &-s {
        transform: rotate(45deg);
        &::before {
          transform: rotate(-90deg);
        }
      }
    }
  }

  @include media(m) {
    &__li {
      &--login.active {
        transform: translateX(290%);
        pointer-events: none;
      }
    }

    &__button {
      padding: 0.5em 1em;
    }
  }
}

/* ---------------- HERO ---------------- */

.hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  isolation: isolate;
  background: radial-gradient(90% 160% at bottom, #92abdc55 0%, #161930 50%);

  .container {
    @include d-flex(column, nowrap, center, center);
    min-height: 685px;
  }

  &__h1 {
    font-family: var(--ff-display);
    font-size: 3.438rem;
    font-weight: 400;
    color: white;
    margin-top: 12rem;
  }

  &__p {
    font-size: var(--fs-500);
    padding: 0.8em 0 1.5em;
  }

  &__background {
    position: relative;
    max-width: 100%;
    margin-top: auto;
  }

  &__light {
    @include position(absolute, top, 52%, left, 41.5%);
    width: 5.5%;
    opacity: 0.3;
    animation: 2.5s ease-in-out 0s infinite alternate none running light;
  }

  &__moon {
    @include position(absolute, top, -5%, left, 15%);
    transform-origin: center;
    width: 3.25%;
    animation: 2s ease-in-out 0s infinite alternate none running moon;
    z-index: -1;
  }

  @include media(t) {
    background: radial-gradient(200% 160% at bottom, #92abdc55 0%, #161930 50%);

    &__h1 {
      font-size: 2rem;
    }

    &__p {
      font-size: var(--fs-400);
    }

    &__img {
      @include position(absolute, bottom, 0, left, calc(50% - 532px));
      width: 1065px;
    }
  }

  @include media(m) {
    .container {
      min-height: 100vh;
    }

    &__h1 {
      margin-top: 10rem;
    }
  }
}

/* ---------------- SEAMLESS ---------------- */

.seamless {
  padding-bottom: var(--spacer-xxl);
  background: radial-gradient(70% 50% at bottom, #92abdc26 0%, #161930 50%)
    no-repeat;

  &__container {
    width: 100%;
    padding: 0 5%;
    margin: var(--spacer-xxl) auto;
    background: url(../assets/bg-simulation.png) center no-repeat;
    background-size: 60rem;

    &-v {
      position: relative;
      width: 17rem;
      margin: 0 auto;
    }

    video {
      @include position(absolute, top, 9%, left, 3.75%);
      width: 92.5%;
      overflow: hidden;
      border-radius: 0.25rem;
    }
  }

  &__ul {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacer-m);
  }

  &__li {
    border: 1.5px solid var(--c-main-dark);
    border-radius: 0.3rem;
    padding: 8rem var(--spacer-m) var(--spacer-m);

    &:nth-child(2) .title::before {
      background-position-x: 23%;
    }
    &:nth-child(3) .title::before {
      background-position-x: 47%;
    }
    &:nth-child(4) .title::before {
      background-position-x: 69%;
      width: 4.4rem;
    }
    &:nth-child(5) .title::before {
      background-position-x: 83.6%;
      width: 3.2rem;
      left: calc(50% - 3.2rem / 2);
    }
    &:nth-child(6) .title::before {
      width: 3.8rem;
      background-position-x: 100%;
      left: calc(50% - 3.8rem / 2);
    }
  }

  &__title {
    position: relative;
  }

  &__title::before {
    content: "";
    @include position(absolute, top, -5.5rem, left, calc(50% - 5.25rem / 2));
    width: 5.25rem;
    height: 5rem;
    background: url(../assets/icn-sprite-api-usage.png);
    background-size: cover;
  }

  @include media(1400) {
    &__ul {
      width: 90%;
      max-width: 700px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include media(m) {
    &__ul {
      width: 90%;
      max-width: 350px;
      grid-template-columns: 1fr;
    }
  }
}

/* ---------------- ULTIMATE ---------------- */

.ultimate {
  position: relative;
  width: 100%;
  text-align: center;
  isolation: isolate;
  overflow: hidden;
  @include d-flex(column, nowrap, center, center);
  background: radial-gradient(90% 160% at bottom, #92abdc26 0%, #161930 50%)
    no-repeat;

  .title {
    margin-top: auto;
  }

  &__p {
    max-width: 800px;
    margin: 0 auto calc(var(--spacer-xxl) * 2);
  }

  &__background {
    position: relative;
    margin-top: auto;
    width: 2200px;
  }

  &__img {
    position: absolute;

    &--bike {
      width: 9rem;
      top: -20%;
      left: 37%;
      transform-origin: right;
      animation: reverse-levitate 3.5s infinite cubic-bezier(0.5, 0, 0.5, 1);
    }

    &--music {
      width: 3.5rem;
      top: -40%;
      right: 38%;
      animation: levitate 3s infinite cubic-bezier(0.5, 0, 0.5, 1);
    }

    &--ring {
      width: 3.75rem;
      top: -40%;
      right: 45%;
      animation: levitate 6s infinite cubic-bezier(0.5, 0, 0.5, 1);
    }

    &--tv {
      width: 7.5rem;
      top: 15%;
      left: 48.6%;
      animation: levitate 4s infinite cubic-bezier(0.5, 0, 0.5, 1);
    }
  }
}

/* ---------------- HOW ---------------- */

.how {
  overflow: hidden;
  padding-bottom: 12rem;
  background: radial-gradient(90% 100% at bottom, #92abdc26 0%, #161930 50%)
    no-repeat;

  &__ul {
    width: 90%;
    max-width: 1210px;
    margin: 0 auto;
  }

  &__li {
    @include d-flex(row, nowrap, space-between, center);
    margin-top: var(--spacer-xxl);

    &.reverse {
      flex-direction: row-reverse;
    }
  }

  &__article {
    width: 45%;
    text-align: left;
  }

  &__title {
    color: white;
    font-size: 2.25rem;
    font-weight: 700;

    &--up {
      text-transform: uppercase;
    }
  }

  &__note {
    display: inline-block;
    font-size: var(--fs-100);
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.4em 0.6em;
    margin: var(--spacer-xs) 0;
    border-radius: 0.5em;
    background: var(--c-main-darker);

    img {
      max-width: 0.75rem;
      margin-right: 0.25em;
      display: inline-block;
    }
  }

  &__text {
    font-size: var(--fs-600);
  }

  &__img-cont {
    position: relative;
    max-width: 325px;
    margin: 0 0 var(--spacer-xxl);

    &.first {
      margin-left: 2rem;
    }

    &.second {
      margin-right: 8rem;
    }
  }

  @include media(t) {
    &__li,
    .reverse {
      flex-direction: column;
    }

    &__article {
      width: 100%;
      text-align: center;
      margin-bottom: var(--spacer-m);
    }

    &__title {
      font-size: var(--fs-500);
    }

    &__text {
      font-size: var(--fs-400);
    }

    &__img-cont {
      width: 350px;
    }
  }

  @include media(m) {
    background: radial-gradient(200% 50% at bottom, #92abdc26 0%, #161930 50%)
      no-repeat;
    &__img-cont {
      max-width: 300px;
      &.first {
        margin-left: 0;
      }
      &.second {
        margin-right: 1rem;
      }
    }
  }
}

.animation {
  transform: translateY(3rem);

  transition: all 0.4s cubic-bezier(0.5, 0, 0.5, 1);

  &__checkbox {
    @include position(absolute, bottom, 0, left, 0);
    @include d-flex(row, nowrap, flex-start, center);
    padding-left: var(--spacer-s);
    text-align: left;
    width: 100%;
    height: 32.5%;
    border-radius: 0px 0px 10px 10px;

    transition: all 0.5s ease-in-out;

    &::before,
    &::after {
      content: "";
      @include position(absolute, top, -1.25rem, left, -1.25rem);
      width: 1.25rem;
      height: 1.25rem;
      opacity: 0;
      background: url(../assets/rest-api-sample-border-mobile.png) center /
        contain no-repeat;

      transition: all 0.2s ease-in-out 0s;
    }

    &::after {
      left: auto;
      right: 0;
    }
  }

  &__h5 {
    font-size: var(--fs-300);
    font-weight: 700;
    padding-bottom: 0.3rem;
    color: white;
  }

  &__p {
    font-size: 0.625rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__label {
    position: relative;
    isolation: isolate;
    overflow: hidden;
    width: 2rem;
    height: 2rem;
    margin-right: 0.75rem;
    cursor: pointer;
    border: 1px solid var(--c-main-dark);
    border-radius: 0.35rem;
  }

  &__input {
    display: none;
  }

  &__custom {
    @include position(absolute, top, 0, left, 0);
    width: 100%;
    height: 100%;
    background: var(--c-accent);
    pointer-events: none;
    border-radius: 0.35rem;

    transform-origin: center;
    transform: scale(0);
    transition: transform 0.1s ease-in-out;

    &::before {
      content: "";
      @include position(absolute, top, 10%, left, 10%);
      width: 80%;
      height: 80%;
      background: url(../assets/check.svg) center / contain no-repeat;
      pointer-events: none;

      transition: all 0.3s ease-in-out;
    }
  }

  &__input:checked + &__custom {
    transform: scale(1);
  }

  &__code {
    @include position(absolute, top, 0, left, 0);
    @include d-flex(column, nowrap, flex-end, flex-start);
    width: 100%;
    height: 100%;
    padding: var(--spacer-m) var(--spacer-s) 1.25rem;
    border-radius: 10px;
    color: var(--c-main-dark);
    background: #101327;
    z-index: -1;

    transition: all 0.4s cubic-bezier(0.5, 0, 0.5, 1);

    p {
      opacity: 0.8;
      position: relative;
      font-family: "Courier New", Courier, monospace;
      font-size: var(--fs-100);
      line-height: 1.2;

      span {
        color: var(--c-main);
      }

      &:first-child span {
        font-weight: 700;
      }

      &.inside {
        margin-left: 2rem;
      }

      &.inside.in {
        margin-left: 4rem;
      }

      &::before {
        content: "";
        @include position(absolute, top, 0, left, 0);
        width: 100%;
        height: 100%;
        background: #101327;

        transform-origin: right;
        transform: scaleX(1);
      }
    }
  }

  &.second &__code {
    background-color: #161930;
    p::before {
      background-color: #161930;
    }
  }

  &__open {
    @include position(absolute, bottom, 0, left, 0);
    @include d-flex(row, nowrap, flex-start, center);
    padding-left: var(--spacer-s);
    text-align: left;
    width: 100%;
    height: 26%;
    border-radius: 0px 0px 10px 10px;

    transition: all 0.4s cubic-bezier(0.5, 0, 0.5, 1);
  }

  &__button {
    position: relative;
    font-size: var(--fs-100);
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.75em 1.25em;
    border-radius: 0.5em;
    color: white;
    background: var(--c-accent);
    box-shadow: 0px 10px 40px -10px rgb(255 0 131 / 50%);
    cursor: pointer;

    transition: all 0.3s ease-in-out;

    &::before {
      content: "";
      @include position(absolute, top, -220%, left, -10%);
      width: 170%;
      height: 170%;
      background: url(../assets/widget-sample-arrow.png) center / contain
        no-repeat;

      transform-origin: center;
      transform: scale(0);
      opacity: 0;
      pointer-events: none;
      transition: all 0.5s ease-in-out;
    }

    &:hover {
      background-color: var(--c-accent-hover);
    }
  }

  &__maya {
    @include position(absolute, top, 30%, right, -37%);
    @include d-flex(column, nowrap, space-between, center);
    max-width: 85%;
    padding: var(--spacer-s);
    background: #212540c7;
    border: 1.5px solid white;
    border-radius: 7px;
    cursor: default;

    transform-origin: center;
    transform: scale(0);
    opacity: 0;
    pointer-events: none;

    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  &__avatar {
    width: 4rem;
    border-radius: 50%;
    margin-bottom: 0.75rem;
  }

  &__pres {
    font-size: var(--fs-200);
    line-height: 1.1;
    color: white;
  }

  &__form,
  &__f-button {
    font-size: var(--fs-100);
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    padding: 1em;
    border-radius: 7px;
  }

  &__form {
    text-align: left;
    color: var(--c-main-dark);
    margin: 1rem 0;
    border: 2px solid var(--c-main-dark);
  }

  &__f-button {
    background: var(--c-main-dark);
  }

  &.active {
    transform: translateY(0);
  }

  &.active &__checkbox {
    transform: translate(1.25rem, 1.25rem);
    background: rgba(255, 255, 255, 0.05);
    border: 1.5px solid white;

    &::before,
    &::after {
      transition: all 0.2s ease-in-out 0.3s;
      opacity: 1;
    }
  }

  &.active &__code {
    top: 60%;
    left: -1.5rem;
    transition: all 0.5s ease-in-out 0.1s;

    p[data-char="14"]::before {
      animation: type 0.25s steps(14) 0s 1 normal forwards running;
    }

    p[data-char="15"]::before {
      animation: type 0.25s steps(15) 0.25s 1 normal forwards running;
    }

    p[data-char="31"]::before {
      animation: type 0.25s steps(31) 0.5s 1 normal forwards running;
    }

    p[data-char="17"]::before {
      animation: type 0.25s steps(17) 0.75s 1 normal forwards running;
    }

    p[data-char="26"]::before {
      animation: type 0.25s steps(26) 1s 1 normal forwards running;
    }
  }

  &.active.first &__code {
    p[data-char="1"]::before {
      animation: type 0.25s steps(1) 1.25s 1 normal forwards running;
    }
  }

  &.active.second &__code {
    top: 70%;
    left: -1rem;

    p[data-char="6"]::before {
      animation: type 0.25s steps(6) 1.25s 1 normal forwards running;
    }

    p[data-char="13"]::before {
      animation: type 0.25s steps(13) 1.5s 1 normal forwards running;
    }

    p[data-char="1"]::before {
      animation: type 0.25s steps(1) 1.75s 1 normal forwards running;
    }
  }

  &.active &__maya {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
  }

  &.active &__button::before {
    transform: scale(1);
    opacity: 1;
  }

  @include media(t) {
    &__code {
      padding: var(--spacer-xs);

      p {
        line-height: 1.1;
      }
    }
  }

  @include media(m) {
    &__code {
      padding: var(--spacer-xs);

      p {
        font-size: 0.688rem;
      }
    }

    &__button {
      &::before {
        top: -130%;
        left: -15%;
        width: 100%;
        height: 100%;
      }
    }

    &__maya {
      right: -5%;
      max-width: 70%;
      padding: var(--spacer-s);
    }

    &__pres {
      font-size: var(--fs-100);
    }

    &__form {
      font-size: 0.625rem;
    }

    &.active &__code {
      top: 55%;
    }
  }
}

/* ---------------- APPLY ---------------- */

.apply {
  padding-bottom: var(--spacer-xxl);
  background: radial-gradient(90% 200% at bottom, #92abdc26 0%, #161930 50%)
    no-repeat;

  &__p {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 0 var(--spacer-m);
  }
}

/* ---------------- FOOTER ---------------- */

.footer {
  border-top: 1.5px solid var(--c-main-dark);
  padding: var(--spacer-xl) 0;

  .container {
    @include d-flex(row, nowrap, space-between, auto);
    width: 90%;
    max-width: 1225px;
  }

  &__logo {
    width: 10%;
    min-width: 7rem;
    min-height: 3rem;
    align-self: flex-start;
    background: url(../assets/icn-sprite-footer.png) 0% 102% / 150% no-repeat;
  }

  &__ul {
    width: 50%;
    padding-right: 4%;
    @include d-flex(row, wrap, space-between, flex-start);
  }

  &__title {
    font-size: var(--fs-100);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--c-grey);
    margin-bottom: 0.75rem;
  }

  &__sec-li &__a:hover {
    text-decoration: underline;
  }

  &__a {
    display: inline-block;
    font-size: var(--fs-300);
    line-height: 2.25;
    color: var(--white);
  }

  &__other {
    width: 35%;
    @include d-flex(column, nowrap, space-between, flex-start);

    .footer__title {
      margin-bottom: var(--spacer-s);
    }
  }

  &__app {
    width: 10rem;
    height: 3rem;
    margin-right: 1rem;
    border: 1.5px solid var(--c-grey-dark);
    border-radius: 5px;

    transition: all 0.3s ease-in-out;

    &.appstore {
      background: url(../assets/icn-sprite-footer.png) 5% 26% / 120% no-repeat,
        rgba(255, 255, 255, 0);
    }

    &.google {
      background: url(../assets/icn-sprite-footer.png) 5% 65% / 120% no-repeat;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }
  }

  &__sec-o-ul {
    @include d-flex(row, nowrap, flex-start, center);
    &.rrss {
      width: 75%;
      justify-content: space-between;
    }
  }

  &__sec-o-li {
    width: 8%;
    color: var(--c-grey);

    transition: all 0.2s ease-in-out;

    &:hover {
      color: var(--white);
    }
  }

  &__toggle {
    font-size: var(--fs-100);
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5em 3em 0.5em 0.5em;
    color: var(--white);
    background-color: #282828;
    border: 1.5px solid var(--c-grey-dark);
    border-radius: 5px;
  }

  &__copy {
    font-size: var(--fs-200);
    color: var(--c-grey);
    opacity: 0.5;
    padding-top: var(--spacer-xl);
  }

  @include media(t) {
    padding-bottom: var(--spacer-m);

    .container {
      flex-direction: column;
    }

    &__logo {
      display: none;
    }

    &__ul {
      width: 100%;
    }

    &__other {
      width: 50%;
    }

    &__li {
      width: 50%;
      margin-bottom: var(--spacer-m);
    }

    &__o-li {
      margin-bottom: var(--spacer-xl);
    }

    &__copy {
      padding-top: 0;
    }
  }

  @include media(m) {
    &__other {
      width: 100%;
    }

    &__sec-o-ul.rrss {
      width: 100%;
    }
  }
}
